*{box-sizing: border-box;}
:root{

    --body:#E9E9E9;
    --titre:#707070;
    --text1:#7B7979;
    --text2:#FFA101;
    --formulaire: #D1D1D1;
    --bouton:#2F4F58;
    --border:#a4dce1;


}
body{
    background-color: var(--body);
}
.container_carte{
    width: 900px;
    height:900px;
    margin-top: -121px;
    margin-left: 350px;
    background-color: var(--body);

    position: relative;



}
.container_picto{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}


.carte{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.picto_atomium{
    width: 35px;
    height:35px;
    position: absolute;
    left: 400px;
    top: 100px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;



}
.picto_atomium:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/atomium.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);
}

.picto_basilique{
    width: 35px;
    height:35px;
    position: absolute;
    left: 256px;
    top: 250px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;

}

.picto_basilique:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/basilique.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);
}

.picto_palaisRoyal{
    width: 35px;
    height:35px;
    position: absolute;
    left: 446px;
    top: 133px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;
}

.picto_palaisRoyal:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/ChâteauRoyalLaeken.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_parcRoyal{
    width: 35px;
    height:35px;
    position: absolute;
    left: 431px;
     top: 389px;
     background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
     transition: transform .2s;
}

.picto_parcRoyal:hover{
    width: 50px;
    height:50px;
    border:var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/palaisRoyal.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_palaisJustice{
    width: 35px;
    height:35px;
    position: absolute;
    left: 387px;
    top: 433px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;
}
.picto_palaisJustice:hover{
    width: 50px;
    height:50px;
    border:var(--text2) 1px solid;
    border-radius:50px;
    background-image: url(../images/place/palaisDeJustice.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_bourse{
    width: 35px;
    height:35px;
    position: absolute;
    left: 382px;
    top: 374px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;
}
.picto_bourse:hover{
    width: 50px;
    height:50px;
    border:var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/bourse.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_grandPlace{
    width: 35px;
    height:35px;
    position: absolute;
    left: 394px;
    top: 360px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;

}
.picto_grandPlace:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/GrandPlace.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_mannequepis{
    width: 35px;
    height:35px;
    position: absolute;
    left: 403px;
    top: 365px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;
}
.picto_mannequepis:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/MannekenPis.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_cinquentenaire{
    width: 35px;
    height:35px;
    position: absolute;
    left: 200px;
    top:200px ;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;

}
.picto_cinquentenaire:hover{
    width: 50px;
    height:50px;
    border:var(--text2)1px solid;
    border-radius:50px;
    background-image: url(../images/place/parcCinquentenaire.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}

.picto_tourJaponaise{
    width: 35px;
    height:35px;
    position: absolute;
    left: 441px;
     top: 124px;
     background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
     transition: transform .2s;
}
.picto_tourJaponaise:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/tourjaponaise.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}
.picto_afrique{
    width: 35px;
    height:35px;
    position: absolute;
    left: 200px;
    top:200px;
    background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;

}
.picto_afrique:hover{

    width: 50px;
    height:50px;
    border:var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/muséedAfrique.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}


.picto_montDesArts{
    width: 35px;
    height:35px;
    position: absolute;
    left: 431px;
     top: 389px;
     background-image: url('../images/illu/basilique-01.png');
    background-size: contain;
    background-repeat: no-repeat;
     transition: transform .2s;

}
.picto_montDesArts:hover{
    width: 50px;
    height:50px;
    border: var(--text2) 1px solid;
    border-radius: 50px;
    background-image: url(../images/place/montDesArts.jpg);
    background-size: cover;
    background-position: center center;
    transform: scale(3);}
