.contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84.2vh;


}
.illustration_contact {
    width: 100%;
    height:100%;
    top:-150px;
}
.form_contact{
    width: 456px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-top: 84px;
}
.fond_contact{
    width: 50%;
    max-height: 100vh;
    position: relative;
    background-image: url(../images/illu/Illustration-contact.png) ;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -150px;
}



.boxContact   {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.contactTexte{

        width: 65%;
        min-height: 52vh;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: flex-start;


}
.inputMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputContact{
    position: relative;
    width: 100%;
    height: 173px;
    box-sizing: border-box;
    border: 3px solid #D1D1D1;
    border-radius: 30px;
    outline: none;
}
.btn_contact{
    background-color:var(--greenblue);
    border-radius: 30px;
    height: 40px;
    width: 90px;
    border: none;

    display: inline-block;
    cursor: pointer;
    font-family: "RobotoRegular";
    font-size: 1rem;
    color: white;
}

.btn_contact:hover{
    background-color: var(--orange);
    transform: scale(1.05);
}
.cont_act{
    align-self: flex-end;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: -178px;


}

.cont_act h2{
    color: var(--grey);
    font-family: "RobotoBold";
    font-size: 2rem;
}
.inputboxContact{
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #D1D1D1;
    border-radius: 20px;
    outline: none;
}
.formulaire_contact{
    width: 55%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.formulaire_contact input textarea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulaire_text_contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.formulaire_text_contact h1{
    color: var(--grey);
    font-family:"RobotoBold";
    text-transform: uppercase;
    font-size: 3rem;
}
span{
    color: var(--grey);
    font-family: "RobotoRegular";
    font-size: 1.2rem;
    width: 38%;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

p{
    color: var(--grey);
    font-family: "RobotoRegular";
    font-size: 1.2rem;
}

.inputData_contact{
    display: flex;
justify-content: space-evenly;
flex-direction: column;
width: 456px;
height: 377px;
margin-top: -128px

}
.reseau{
    width: 88%;
    height: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   

}
.icon_reseau{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 190px;
}

.reseau button{
    width: 5%;
    border-radius:70px;
    border: none;
    cursor: pointer;
    position: center ;



}
.reseau img{
    width: 16%;
    object-fit: contain;
    position: center, center;
}

.reseau img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#inputEmail{
    background-image: url(../images/illu/mail.png);
    background-position: 15px 10px;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 51px;

}
textarea{
    resize: none;
    padding: 20px;
}
::placeholder{
    color: var(--grey);
    font-family: "RobotoRegular";
    font-size: 1rem;
}